<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>todolist-flask</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>Todolist</h2>
      <ul class="todolist">
        <li v-for="todo in todos" :key="todo.id">
          <input type="checkbox" :id="todo.id" v-model="todo.selected" />
          <label :for="todo.id">[[ todo.name ]]</label>
          <span v-if="todo.completed">- Done 👍</span>
        </li>
      </ul>
      <div class="option">
        <a href="#" @click.prevent="selectAll">Select all</a>
        &nbsp;/&nbsp;
        <a href="#" @click.prevent="doneTodo">Done</a>
        &nbsp;/&nbsp;
        <a href="#" @click.prevent="deleteTodo">Delete</a>
      </div>
      <div class="createtodo">
        <form @submit.prevent="createTodo">
          <label>
            <small>New Todo:</small>
          </label><br />
          <input type="text" id="newTodo" autocomplete="off" v-model="newTodo" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <script>
      const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
          return {
            todos: [],
            newTodo: ''
          }
        },
        async created() {
          await this.init()
        },
        methods: {
          async init() {
            await axios.get('/api/todolist')
              .then((resp) => {
                this.todos = resp.data.map(t => ({
                  ...t,
                  selected: false
                }))
              })
              .catch((error) => {
                alert(error)
              })
            this.newTodo = ''
          },
          selectAll() {
            this.todos.forEach(t => { t.selected = true })
          },
          async doneTodo() {
            const ids = this.todos.filter(t => t.selected).map(t => t.id)
            await axios.post('/api/todolist/done', { ids: ids })
              .then((resp) => {
                if (resp.data.status === 'success') {
                  this.init()
                } else {
                  alert(resp.data.message)
                }
              })
              .catch((error) => {
                alert(error)
              })
          },
          async deleteTodo() {
            const ids = this.todos.filter(t => t.selected).map(t => t.id)
            await axios.delete('/api/todolist', { data: { ids: ids } })
            .then((resp) => {
                if (resp.data.status === 'success') {
                  this.init()
                } else {
                  alert(resp.data.message)
                }
              })
              .catch((error) => {
                alert(error)
              })
          },
          async createTodo() {
            await axios.post('/api/todolist', { name: this.newTodo })
              .then((resp) => {
                if (resp.data.status === 'success') {
                  this.init()
                } else {
                  alert(resp.data.message)
                }
              })
              .catch((error) => {
                alert(error)
              })
          }
        }
      })
      app.mount('#app')
    </script>
  </body>
</html>
