<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>todolist-flask</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <ul class="todolist">
        <li v-for="todo in todos" :key="todo.id">
          <input type="checkbox" :id="todo.id" v-model="todo.selected" />
          <label :for="todo.id">[[ todo.name ]]</label>
          <span v-if="todo.completed">- Done 👍</span>
        </li>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
          return {
            todos: []
          }
        },
        async created() {
          await this.init()
        },
        methods: {
          async init() {
            await axios.get('/api/todolist')
              .then((resp) => {
                this.todos = resp.data.map(t => ({
                  ...t,
                  selected: false
                }))
              })
              .catch((error) => {
                alert(error)
              })
          }
        }
      })
      app.mount('#app')
    </script>
  </body>
</html>
