h2 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.todolist {
    padding-inline-start: 20px;
}

.todolist li {
    list-style: none;
}

.todolist li input {
    margin-right: 10px;
}

.todolist li span {
    margin-left: 10px;
}

.createtodo {
    padding-left: 20px;
}

.createtodo input {
    margin-right: 10px;
}
